.box{
    width: 100%;
    background: #ffaeef;
    border: #00ffff solid .2rem;
}

.box:focus,
.box:hover{
    border:white solid .2rem;
}


.box::placeholder{
    color: green;
    font-size: 1.5rem;
}

.box{
    color: blue;
}


.row form{
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

h3{
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
}

input{
    padding:.5rem;
    border-radius: .5rem;
}

.input-field{
    font-size: 1.8rem;
}

.fb-robot {
    float: left;
    margin-top: 10rem;
}

form{
    border: white solid .3rem;
    padding: 0 2rem 7rem 2rem;
    background: black;
}

@media (max-width: 768px){
    .fb-robot{
        display: none;
    }
}