.box{
    width: 100%;
    background: #ffaeef;
    border: #00ffff solid .2rem;
}

.box:focus,
.box:hover{
    border:purple solid .2rem;
}


.box::placeholder{
    color: green;
    font-size: 1.5rem;
}

.box{
    color: blue;
}


.row form{
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.page-header{
    font-size: 5rem;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

h3{
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: .5rem;
}

.btn{
    margin: 0;
}