.page-header{
	color: black;
}


.container{
	border: solid black 1px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1rem;
	background-color: white;
	font-size: 1.6rem;
}


section p{
	padding-left: 4rem;
}

section ul{
	padding-left: 8rem;
}

section h2{
	padding-top: 2rem;
	padding-bottom: 1rem;
}
